<div class="nav">
  <strong class="nav__label">{{ .label }}</strong>
  {{- range .options }}
    <label class="nav__link nav__link--{{ $.name }}">
      {{ if .icon }}
        {{- partial "components/icon.html" (dict "name" .icon "size" 16  "class" "nav__icon" ) -}}
      {{ else }}
        {{- partial "components/icon.html" (dict "name" "circle" "size" 16 "class" "icon--circel" ) -}}
        {{ partial "components/icon.html" (dict "name" "check-circle" "size" 16  "class" "icon--check-circle") -}}
      {{ end }}
      <span>{{ .text }}</span>
      <input type="radio" name="{{ $.name }}" value="{{ .value }}" {{ if eq $.checked .value }}checked{{ end }}/>
    </label>
  {{- end }}
</div>