@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.site-brand {
  &__logo {
    @include m.size(100px);
    padding: 0.25em;
    border: 1px solid var(--border-primary);
    border-radius: 0.15em;
    box-shadow: var(--shadow-subtle);
  }

  &__title {
    color: var(--text-primary);
    font-size: v.$fs-5xl;
    font-family: v.$font-serif;
    font-style: normal;
    text-shadow: var(--text-shadow-subtle);

    &:hover {
      text-shadow: var(--text-shadow-medium);
    }
  }
}
