@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.card {
  @include m.transition(all);
  font-size: 14px;
  padding: 1em;
  border: 1px solid var(--border-primary);
  box-shadow: var(--shadow-subtle);
  background-color: var(--background-secondary);
  border-radius: 0.15em;

  &:hover {
    background-color: var(--background-tertiary);
    box-shadow: var(--shadow-subtle);
  }
}

.featured {
  &__img-container {
    width: 100%;
    overflow: hidden;
    border-radius: 0.15em;
  }

  &__img {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    object-fit: cover;
    border: none;
    border-radius: 0.15em;
    padding: 0;
  }

  &__title {
    margin: 0;
    a {
      text-decoration: none;
    }
  }

  &__body {
    font-size: v.$fs-sm;
  }

  &__time {
    color: var(--text-muted);
  }

  &__btn {
    color: var(--text-muted);

    &:hover {
      color: var(--text-primary);
    }
  }

  @include b.min(md) {
    @include m.transition(all);
    &:hover {
      .featured__img {
        scale: 1.1;
      }
    }
  }
}
