@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

// FOOTNOTE
.footnote-ref, .footnote-backref {
  margin-inline-start: 0.1em;
  text-decoration: underline solid;
  &::before {
    content: "[";
  }

  &::after {
    content: "]";
  }
  &:hover,
  &:focus-visible,
  &:active {
    color: var(--text-muted);
  }

  &:focus-visible {
    outline: solid 1px;
    text-decoration: none;
  }
}

.footnote-backref {
  text-decoration: none;
}

.footnotes {
  hr {
    display: none;
  }
  p {
    margin: 0;
    font-size: v.$fs-sm;
  }

  @include b.min(md) {
    ol {
      column-width: 30em;
    }

    li {
      break-inside: avoid;
      margin-block-start: 0;
      margin-inline: 1em;
    }
  }
}
