@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.pagination {
  @include m.flex-justify(center, center);
  flex-wrap: wrap;
  gap: 1em;
  padding-block: 2em;

  &__link {
    @include m.transition(all);
    @include m.flex-justify(center, center);
    @include m.size(v.$fs-5xl);
    text-decoration: none;
    font-size: v.$fs-2xl;
    font-family: v.$font-serif;
    cursor: pointer;
    color: var(--text-tertiary);

    &--is-active {
      color: var(--text-primary);
      font-weight: 700;
      font-size: v.$fs-6xl;
    }

    &--is-disabled {
      cursor: not-allowed;
      color: var(--text-muted);
    }
  }
}
