@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.pagination {
  @include m.flex-justify(center, center);
  flex-wrap: wrap;
  gap: 1em;
  padding-block: 2em;

  &__link {
    @include m.transition(all);
    @include m.flex-justify(center, center);
    @include m.size(v.$fs-5xl);
    text-decoration: none;
    font-size: v.$fs-4xl;
    border-radius: 50%;
    border: 3px solid transparent;
    cursor: pointer;

    &--is-active {
      color: var(--text-primary);
      border-inline-end-color: var(--text-primary);
      border-inline-start-color: var(--text-primary);

      &:hover {
        border-inline-end-color: var(--text-muted);
      border-inline-start-color: var(--text-muted);
      }
    }

    &--is-disabled {
      color: var(--text-muted);
      cursor: not-allowed;
    }
  }
}