@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

button {
  cursor: pointer;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));

  &--fluid-lg {
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  }
}

html,
body {
  @include m.transition(background-color, color, font-size);
  @include m.custom-scrollbar(
    var(--background-base),
    var(--color-white-invert)
  );
  font-size: 16px;
  font-family: v.$font-sans;
}

body {
  background-color: var(--background-base);
  color: var(--color-base);
}

.site-sidebar {
  @include m.custom-scrollbar(
    var(--background-second),
    var(--color-white-invert)
  );
  @include m.transition(all);
  @include m.width-height(14em, 100dvh);

  position: fixed;
  padding: 1em;
  inset-inline-start: -100%;
  inset-block-start: 0;
  overflow-x: auto;

  border-inline-end: 2px solid var(--border-base);
  background-color: var(--background-second);

  visibility: hidden;
  z-index: 200;

  &__btn-close {
    position: absolute;
    inset-inline-end: 1em;
    inset-block-start: 1em;
    color: var(--color-second);
  }

  &.is-active {
    inset-inline-start: 0%;
    visibility: visible;
  }
}

.site-mobile-header {
  @include m.flex-justify(space-between, center);
  @include m.width-height(100%, 4em);
  background-color: var(--background-second);
  border-block-end: 1px solid var(--border-base);
  box-shadow: var(--shadow-md);

  position: fixed;
  inset-inline-start: 0;
  inset-block-start: 0;

  padding-inline: 1em;
  z-index: 100;

  &__title {
    letter-spacing: 0.05em;
    font-size: v.$fs-6xl;
    font-family: v.$font-serif;
    color: var(--color-second);
    font-weight: 700;
  }
}

.site-main {
  margin-block-start: 4em;

  &__content--home {
    margin-block-start: 6em;
    min-height: 100dvh;
  }
}

//  BREAKPOINTS
@include b.min(lg) {
  body {
    display: grid;
    grid-template-columns: 14em minmax(0, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "sidebar main main"
      "sidebar main main"
      "sidebar footer footer";
  }

  .site-mobile-header {
    display: none;
  }

  .site-sidebar {
    grid-area: sidebar;
    inset-inline-start: 0;
    visibility: visible;
  }

  .site-main {
    grid-area: main;
    margin-block-start: 0;
    .markdown {
      padding-inline: 2.5em;
    }
  }

  .site-footer {
    grid-area: footer;
  }
}
