@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

button {
  cursor: pointer;
}

html,
body {
  @include m.transition(background-color, color, font-size);
  @include m.custom-scrollbar(
    var(--background-base),
    var(--color-white-invert)
  );
  font-size: 16px;
  font-family: v.$font-sans;
  background-color: var(--background-base);
  color: var(--color-base);
}

.site-sidebar {
  @include m.custom-scrollbar(
    var(--background-second),
    var(--color-white-invert)
  );
  @include m.transition(all);
  @include m.width-height(14em, 100dvh);

  position: fixed;
  padding: 1em;
  inset-inline-start: -100%;
  inset-block-start: 0;
  overflow-x: auto;

  border-inline-end: 2px solid var(--border-base);
  background-color: var(--background-second);

  visibility: hidden;

  &__btn-close {
    position: absolute;
    inset-inline-end: 1em;
    inset-block-start: 1em;
    color: var(--color-second);
  }

  &.is-active {
    inset-inline-start: 0%;
    visibility: visible;
  }
}

.site-brand {
  &__logo {
    @include m.size(100px);
    padding: 0.25em;
    border: 1px solid var(--border-base);
    border-radius: 0.15em;
    box-shadow: var(--shadow-sm);
  }

  &__title {
    color: var(--color-second);
    font-size: v.$fs-5xl;
    font-family: v.$font-serif;
    font-style: normal;
  }
}

// NAVIGATION
.nav {
  display: grid;
  margin-block: 1em 2.5em;

  &__label {
    letter-spacing: 0.05em;
    font-family: v.$font-serif;
    border-bottom: 1px solid var(--border-base);
    color: var(--color-second);
    margin-block: 0 1em;
  }

  &__link {
    @include m.transition(all);
    position: relative;
    display: block;
    color: var(--color-third);
    font-size: v.$fs-sm;
    padding: 0.15em;
    margin-block: 0.25em;
    margin-inline-start: 1em;
    cursor: pointer;

    &::before,
    &::after {
      @include m.transition(all);
      content: "";
      position: absolute;
      inset-inline-start: 0;
      inset-block-start: 0;
      box-shadow: var(--shadow-sm);
      height: 100%;
      z-index: -1;
      border-radius: 0.15em;
    }

    &::before {
      margin-inline-start: -1em;
      width: 3px;
      background-color: var(--background-base);
    }

    &::after {
      margin-inline-start: -0.5em;
      width: 0;
      background-color: var(--color-black-fix);
    }

    &--is-active {
      color: var(--color-second);

      &::after {
        width: 100%;
        background-color: var(--background-base);
      }
    }

    &:hover,
    &:focus-visible,
    &:active {
      color: var(--color-white-fix);
      outline: none;

      &::before,
      &::after {
        background-color: var(--color-black-fix);
        box-shadow: var(--shadow-md);
      }
      &::after {
        width: 100%;
      }
    }
  }
}
