@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

button {
  cursor: pointer;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));

  &--fluid-lg {
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
  }
}

.multi-column {
  column-width: 20em;
  column-gap: 2em;

  &--fluid-lg {
    column-width: 30em;
  }

  &__item {
    display: inline-block;
    width: 100%;
    break-inside: avoid;
    margin-block-end: 2em;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
  }
}

html,
body {
  @include m.transition(background-color, color, font-size);
  @include m.custom-scrollbar(
    var(--background-primary),
    var(--border-primary)
  );
  font-size: 16px;
  font-family: v.$font-sans;
}

body {
  background-color: var(--background-primary);
  color: var(--text-secondary);
}

.site-mobile-header {
  @include m.flex-justify(space-between, center);
  @include m.width-height(100%, 4em);
  background-color: var(--background-secondary);
  border-block-end: 1px solid var(--border-primary);
  box-shadow: var(--shadow-subtle);

  position: fixed;
  inset-inline-start: 0;
  inset-block-start: 0;

  padding-inline: 1em;
  z-index: 100;

  &__title {
    letter-spacing: 0.05em;
    font-size: v.$fs-4xl;
    font-family: v.$font-serif;
    color: var(--text-primary);
    font-weight: 700;
  }
}

.site-sidebar {
  @include m.custom-scrollbar(
    var(--background-secondary),
    var(--border-primary)
  );
  @include m.transition(all);
  @include m.width-height(14em, 100dvh);

  position: fixed;
  padding: 1em;
  inset-inline-start: -100%;
  inset-block-start: 0;
  overflow-x: auto;

  border-inline-end: 2px solid var(--border-primary);
  background-color: var(--background-secondary);

  visibility: hidden;
  z-index: 200;

  &__btn-close {
    position: absolute;
    inset-inline-end: 1em;
    inset-block-start: 1em;
    color: var(--text-primary);
  }

  &.is-active {
    inset-inline-start: 0%;
    visibility: visible;
  }
}

.site-main {
  margin-block-start: 5em;
  min-height: 100dvh;
  padding-inline: 1.5em;
}

//  BREAKPOINTS
@include b.min(lg) {
  body {
    display: grid;
    grid-template-columns: 14em minmax(0, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "sidebar main main"
      "sidebar main main"
      "sidebar footer footer";
  }

  .site-mobile-header {
    display: none;
  }

  .site-sidebar {
    grid-area: sidebar;
    inset-inline-start: 0;
    visibility: visible;
  }

  .site-main {
    grid-area: main;
    margin-block-start: 0;
    padding-inline: 2.5em;
  }

  .site-footer {
    grid-area: footer;
  }
}
