@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

:where(.markdown) {
  font-size: 14px;
  line-height: 1.6;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  word-break: normal;
  overflow-wrap: anywhere;
  hyphens: auto;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block: 1em 1.5em;
    line-height: 1.75;
    color: var(--color-second);
    font-weight: 700;
    text-transform: capitalize;
  }

  h1,
  h2,
  h3 {
    font-family: v.$font-serif;
    font-size: v.$fs-3xl;
    border-block-end: 1px dotted var(--border-base);
    letter-spacing: 0.05em;
  }

  h4,
  h5,
  h6 {
    font-size: v.$fs-xl;
  }

  p {
    margin-block: 1em;

    + p {
      margin-block: 1em 1.5em;
    }
  }

  a {
    text-decoration: underline dotted 1px;
    color: var(--color-second);

    &.footnote-ref {
      margin-inline-start: 0.1em;
      text-decoration: underline solid;

      &::before {
        content: "[";
      }
      &::after {
        content: "]";
      }
    }

    &:hover,
    &:focus-visible,
    &:active {
      color: var(--color-third);
    }

    &:focus-visible {
      outline: dotted 1px;
      text-decoration: none;
    }
  }

  b,
  strong {
    color: var(--color-second);
    font-weight: 700;
  }

  ul,
  ol {
    padding-inline-start: 2em;
    margin: 1.5em 0;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li::marker {
    font-size: v.$fs-lg;
  }

  ul li,
  ol li {
    margin: 0.5em 0;
  }

  ul ul,
  ol ol,
  ul ol,
  ol ul {
    margin: 0.5em 0;
    padding-inline-start: 2em;
  }

  hr {
    margin-block: 3em;
    display: flow-root;
    border: none;
    height: 3px;
    background-color: var(--border-second);
  }

  :is(pre, code, kbd) {
    font-family: v.$font-mono;
  }

  code:not(pre code) {
    font-size: v.$fs-sm;
    background-color: var(--background-second);
    padding-inline: 0.25em;
    border-radius: 0.25em;
  }

  .highlight {
    position: relative;
    direction: ltr;
    text-align: left;
    unicode-bidi: plaintext;
    display: flow-root;

    pre {
      padding: 0.75em;
      margin-block: 1em;
      background-color: var(--background-second);
      border: 1px dotted var(--border-base);
      box-shadow: var(--shadow-sm);
      overflow-x: auto;
    }
  }

  .chroma {
    .lnlinks {
      outline: none;
      text-decoration: none;
      color: inherit;
    }
    :is(.lntd, .lntable) {
      padding: 0;
      margin: 0;
      border: 0;
      vertical-align: top;
      border-spacing: 0;
    }

    :is(.lnt, .ln) {
      white-space: pre;
      -webkit-user-select: none;
      user-select: none;
      margin-right: 0.4em;
      padding: 0 0.4em 0 0.4em;
    }

    :is(
      .nc,
      .no,
      .nd,
      .ne,
      .nl,
      .nf,
      .fm,
      .o,
      .ow,
      .cs,
      .cp,
      .cpf,
      .gs,
      .gh,
      .gu
    ) {
      font-weight: 700;
      color: var(--color-second);
    }
    :is(.c, .ch, .cm, .c1, .cs, .cp, .cpf, .ge) {
      font-style: italic;
    }
    .gl {
      text-decoration: underline;
    }
    .line {
      display: flex;
    }
  }

  .table-container {
    display: flow-root;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    margin: 1.5em 0;
    border-radius: 0.25em;
    border: 1px dotted var(--border-base);
    border-block-end: none;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    min-width: 65ch;
    background-color: var(--background-base);
  }

  thead {
    background-color: var(--background-second);
  }

  th {
    text-align: start;
    padding: 1em 1.5em;
    font-weight: 600;
    color: var(--color-second);
    border-block-end: 1px dotted var(--border-base);
    white-space: nowrap;
  }

  td {
    padding: 1em 1.5em;
    border-block-end: 1px dotted var(--border-base);
    color: var(--color-third);
    white-space: nowrap;
  }

  tbody tr:hover {
    background-color: var(--background-second);
  }

  tbody tr:nth-child(even) {
    background-color: var(--background-second);
  }

  // FOOTNOTE
  .footnote-ref {
    font-size: v.$fs-xl;
    text-decoration: none;
    &::before {
      content: "[";
    }

    &::after {
      content: "]";
    }
  }

  .footnotes {
    margin-block-start: 6em;

    &::before {
      content: "References";
      display: block;
      font-size: v.$fs-8xl;
      border-block-end: 1px dotted var(--border-base);
      color: var(--color-second);
      line-height: 1.75;
      font-family: v.$font-serif;
    }

    hr {
      display: none;
    }

    p {
      margin: 0;
    }

    @include b.min(md) {
      ol {
        column-count: 2;
      }

      li {
        break-inside: avoid;
        margin-inline: 1em;
      }
    }
  }
}

@include b.min(md) {
  :where(.markdown) {
    font-size: 15px;
  }
}

@include b.min(2xl) {
  :where(.markdown) {
    font-size: 16px;
  }
}
