@use "../abstracts/breakpoints" as b;
@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

:where(.markdown) {
  display: block;
  font-size: 14px;
  line-height: 1.6;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  word-break: normal;
  overflow-wrap: anywhere;
  hyphens: auto;
  padding-inline: 1em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include m.transition(all);
    line-height: 1.75;
    color: var(--text-primary);
    font-weight: 700;
    text-transform: capitalize;
    width: 100%;
    margin-block: 1em 1.5em;
    text-shadow: var(--text-shadow-subtle);

    &:hover {
      text-shadow: var(--text-shadow-medium);
    }
  }

  h1,
  h2,
  h3 {
    font-family: v.$font-serif;
    border-block-end: 1px solid var(--border-primary);
    letter-spacing: 0.05em;
  }

  h1 {
    font-size: v.$fs-5xl;
    &:has(+ p) {
      margin-bottom: 0em;
    }
  }

  h2,
  h3 {
    font-size: v.$fs-3xl;
  }

  h4,
  h5,
  h6 {
    font-size: v.$fs-xl;
  }

  p {
    margin-block: 1em;

    + p {
      margin-block: 1em 1.5em;
    }
  }

  a {
    text-decoration: underline solid;

    &:hover {
      color: var(--text-tertiary);
    }
  }

  b,
  strong {
    color: var(--text-primary);
    font-weight: 700;
  }

  ul,
  ol {
    padding-inline-start: 2em;
    margin: 1.5em 0;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li::marker {
    font-size: v.$fs-lg;
  }

  ul li,
  ol li {
    margin: 0.5em 0;
  }

  ul ul,
  ol ol,
  ul ol,
  ol ul {
    margin: 0.5em 0;
    padding-inline-start: 2em;
  }

  dl {
    margin-block: 1.75em;
  }

  dt {
    padding-block-end: 0.25em;
    color: var(--text-primary);
    border-block-end: 1px solid var(--border-primary);
    font-weight: 600;
  }

  dd {
    margin: 0.5em;
    padding-inline-start: 1em;
    color: var(--text-tertiary);
    border-inline-start: 3px solid var(--text-primary);
  }

  hr {
    margin-block: 3em;
    display: flow-root;
    border: none;
    height: 3px;
    background-color: var(--border-primary);
  }

  img {
    @include m.transition(all);
    display: inline-block;
    padding: 0.5em;
    border: 1px solid var(--border-primary);
    border-radius: 0.5em;
    box-shadow: var(--shadow-subtle);
    filter: grayscale(1);

    &:hover {
      filter: grayscale(0);
    }

    + img {
      margin-block: 1em;
    }
  }
  blockquote {
    letter-spacing: 0.025em;
    margin-block: 1.5em;
    padding-inline-start: 1em;
    color: var(--text-muted);
    border-inline-start-width: 0.25em;
    border-inline-start-color: var(--border-accent);
    quotes: "“" "”" "‘" "’";
    font-style: italic;
    font-family: v.$font-serif;
    font-weight: 600;

    p:first-of-type::before {
      content: open-quote;
    }

    p:last-of-type::after {
      content: close-quote;
    }

    p:first-of-type::before,
    p:last-of-type::after {
      font-size: v.$fs-2xl;
    }
  }

  .callout {
    border: 1px solid var(--border-primary);
    background-color: var(--background-secondary);
    display: flow-root;
    box-shadow: var(--shadow-subtle);

    &__header {
      @include m.flex-justify(start, center);
      gap: 0.5em;
      padding: 0.5em 0.75em;
      margin-block-end: -1px;
      color: var(--text-primary);
    }

    &__title {
      color: var(--text-primary);
      font-size: v.$fs-xl;
      font-family: v.$font-serif;
    }

    &__body {
      padding: 1em;
    }
  }

  details {
    border: 1px solid var(--border-primary);
    border-radius: 0.25em;
    background-color: var(--background-secondary);
    padding: 0.5em 1em;
    display: flow-root;
    margin-block: 0.5em;
    width: max-content;
    max-width: 100%;

    summary {
      @include m.flex-justify(start,center);
      gap: 0.5em;
      list-style: none;
      cursor: pointer;
      user-select: none;
    }
  }
}

@include b.min(md) {
  :where(.markdown) {
    font-size: 15px;
  }
}

@include b.min(2xl) {
  :where(.markdown) {
    font-size: 18px;
  }
}
